<footer>
  <div class="d-flex flex-row justify-content-around">
    <div class="d-flex flex-column">
      <span class="font-weight-bold">Support</span>
      <a href="#" class="f-link font-weight-normal">Help Centre</a>
      <a href="#" class="f-link font-weight-normal">AirCover</a>
      <a href="#" class="f-link font-weight-normal">Anti-discrimination</a>
      <a href="#" class="f-link font-weight-normal">Disability support</a>
      <a href="#" class="f-link font-weight-normal">Cancellation options</a>
      <a href="#" class="f-link font-weight-normal"
        >Report neighbourhood concern</a
      >
    </div>

    <div class="d-flex flex-column">
      <span class="font-weight-bold">Hosting </span>
      <a href="#" class="f-link font-weight-normal">Airbnb your home </a>
      <a href="#" class="f-link font-weight-normal">AirCover for Hosts</a>
      <a href="#" class="f-link font-weight-normal"> Hosting resources</a>
      <a href="#" class="f-link font-weight-normal"> Community forum</a>
      <a href="#" class="f-link font-weight-normal"> Hosting responsibly</a>
      <a href="#" class="f-link font-weight-normal">
        Join a free Hosting class</a
      >
    </div>

    <div class="d-flex flex-column">
      <span class="font-weight-bold">Airbnb</span>
      <a href="#" class="f-link font-weight-normal"> Newsroom</a>
      <a href="#" class="f-link font-weight-normal"> New features</a>
      <a href="#" class="f-link font-weight-normal"> Careers</a>
      <a href="#" class="f-link font-weight-normal"> Investors</a>
      <a href="#" class="f-link font-weight-normal">
        Airbnb.org emergency stays</a
      >
    </div>
  </div>

  <hr />
  <div class="d-flex flex-row justify-content-between">
    <div>
      &copy; 2024 Airbnb, Inc.
      <a href="#" class="f-link ml-2">Privacy</a>
      <a href="#" class="f-link ml-2">terms</a>
    </div>
    <div>
      <i
        class="fa-brands fa-square-instagram ml-2"
        style="font-size: 1.5rem"
      ></i>
      <i class="fa-brands fa-facebook ml-2" style="font-size: 1.5rem"></i>
      <i
        class="fa-brands fa-square-x-twitter ml-2"
        style="font-size: 1.5rem"
      ></i>
    </div>
  </div>
</footer>
